---
import type { HTMLAttributes } from "astro/types";
import type { Product } from "@lib/schemas/Product";
import { capitalize } from "@lib/stringUtils";
import {
  PICKUP_DATE_MIN_OFFSET,
  PICKUP_DATE_MAX_OFFSET,
} from "astro:env/server";

interface Props extends HTMLAttributes<"fieldset"> {
  product: Product;
}

const { product, class: className, ...rest } = Astro.props;
const dateFormatter = new Intl.DateTimeFormat("sv-SE", {
  dateStyle: "full",
});
function formatDate(dateStr: string) {
  const formattedDate = dateFormatter.format(new Date(dateStr));
  return capitalize(formattedDate);
}
---

<fieldset {...rest}>
  <legend>Tillgänglighet</legend>
  {
    product.pickupDates && product.pickupDates.length > 0 ? (
      <>
        <p>{product.title} går endast att hämta under specifika datum:</p>
        <ul>
          {product.pickupDates.map((date) => (
            <li>{formatDate(date)}</li>
          ))}
        </ul>
        <p>Välj upphämtningsdatum i kassan.</p>
      </>
    ) : (
      <>
        <p>
          {product.title} går att hämta under våra öppettider med minst{" "}
          {PICKUP_DATE_MIN_OFFSET}
          dagars framförhållning, och max {PICKUP_DATE_MAX_OFFSET} dagar in i
          framtiden.
        </p>
      </>
    )
  }
</fieldset>
