---
import type { HTMLAttributes } from "astro/types";
import { formatPrice } from "@lib/stringUtils";
import type { Product } from "@lib/schemas/Product";
import { getVariantDescription } from "@lib/variantDescription";

interface Props extends HTMLAttributes<"tr"> {
  price: number;
  qty: number;
  product: Product;
}

const { price, qty, product, class: className, ...rest } = Astro.props;
const title = `${qty} x ${product.title}`;
const variantDescription = getVariantDescription(price, product);
const description =
  variantDescription === "Standard" ? undefined : variantDescription;

const formattedTotal = formatPrice([qty * price]);
---

<tr {...rest} class={className}>
  <td>
    <p>
      {title}
    </p>
    {description && <small>{description}</small>}
  </td>
  <td>
    <p data-translate="never">{formattedTotal}</p>
  </td>
</tr>
