---
import Accordion from "@components/Accordion.astro";
import IconList from "@components/IconList.astro";
import IconListItem from "@components/IconListItem.astro";
import IntroText from "@components/IntroText.astro";
import OpeningHours from "@components/OpeningHours.astro";
import Section from "@components/Section.astro";
import { IconName } from "@lib/enums/IconName";
import { sanityAPI } from "@lib/sanityAPI";
import { PortableText } from "astro-portabletext";
import config, { phoneLink, emailLink } from "@config/site";
import Layout from "../layouts/Layout.astro";
import Card from "@components/Card.astro";

const { contact } = config;
const faq = await sanityAPI.getFaq();
const openingHours = await sanityAPI.getOpeningHours();
---

<Layout
  title="Kontakt"
  metaDescription="Du är alltid välkommen att kontakta oss, men kolla gärna här om du hittar svaret på din fråga först."
>
  <Section>
    <h1>Hör av dig!</h1>
    <IntroText> Men om du har en fråga hittar du säkert svaret här. </IntroText>
  </Section>

  <Section class="lg:mt-8 grid lg:grid-cols-2 gap-8">
    <div class="max-w-prose">
      <h2 class="mb-8">Vanliga frågor</h2>
      {
        faq.map(({ question, answer }) => (
          <Accordion title={question} class="mb-4 last:mb-0 portable-text">
            <PortableText value={answer} />
          </Accordion>
        ))
      }
    </div>
    <div class="max-w-xl">
      <h2 id="oppettider">Öppettider</h2>
      <OpeningHours data={openingHours} />
    </div>
  </Section>

  <Section class="lg:mt-8 grid lg:grid-cols-2 gap-8">
    <Card variant="raised" title="Söker du jobb?">
      <p>
        Skulle det dyka upp lediga tjänster annonseras detta på Instagram.
        Skicka in din ansökan till <a href="mailto:jobb@bagerileve.se"
          >jobb@bagerileve.se</a
        > när en tjänst dyker upp om du är intresserad.
      </p>
      <a
        href="https://www.instagram.com/bagerileve"
        target="_blank"
        rel="noreferrer"
        class="btn btn--outline"
        slot="actions"
      >
        Följ @bagerileve
      </a>
    </Card>

    <div>
      <h2>Kontaktuppgifter</h2>
      <p class="mb-4">
        Vill du beställa något går det fint att ringa till oss. Vi svarar i
        telefon tisdag-lördag hela dagarna om inget annat anges här.
      </p>
      <p class="mb-4">
        Vi tar inte emot munkbeställningar på fredagar, bara fram till torsdag
        kväll. Det går inte att beställa via e-post.
      </p>
      <IconList>
        <IconListItem icon={IconName.PHONE}>
          <a href={phoneLink}> {contact.phone}</a>
        </IconListItem>
        <IconListItem icon={IconName.ENVELOPE}>
          <a href={emailLink}>{contact.email}</a>
        </IconListItem>
        <IconListItem icon={IconName.MAP_PIN}>
          <p>
            {contact.address.street}
            <br />{contact.address.zip}
            {contact.address.city}
          </p>
        </IconListItem>
      </IconList>
      <div class="flex flex-wrap gap-2 mt-4">
        <a href={contact.address.googleMaps}>Google Maps</a>
        <span>/</span>
        <a href={contact.address.appleMaps}>Apple Maps</a>
      </div>
    </div>
  </Section>
</Layout>
