---
import { EXAMPLE_ENV_VARIABLE } from "astro:env/server";

export const prerender = false;

const dateFormatter = new Intl.DateTimeFormat("sv-SE", {
  dateStyle: "full",
  timeStyle: "long",
});
const now = new Date();
const formattedDate = dateFormatter.format(now);

console.info(formattedDate);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Server rendered page</title>
	</head>
	<body>
		<h1>Example</h1>
    <p>Example environment variable: {EXAMPLE_ENV_VARIABLE}</p>
    <p>process.env.NODE_ENV: {process.env.NODE_ENV}</p>
    <p>import.meta.env.NODE_ENV: {import.meta.env.NODE_ENV}</p>
    <p>Current date and time: {formattedDate}</p>
	</body>
</html>
