---
import { cn } from "@lib/cn";
import type { Product } from "@lib/schemas/Product";
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
import { urlFor } from "@lib/sanityAPI";
import { formatPrice } from "@lib/stringUtils";
import { buttonStyles } from "@lib/buttonStyles";
import { getProductUrl } from "@config/site";

interface Props extends HTMLAttributes<"a"> {
  product: Product;
  availablePickupDates: string[];
}

const { product, availablePickupDates, ...rest } = Astro.props;
const featuredImage = product.images[0];
const prices = product.variants.map(({ price }) => price);
const outOfStock = product.maxQuantityPerOrder === 0;
const noPickupDatesAvailable = availablePickupDates.length === 0;
const buttonLabel = outOfStock
  ? "Slut i lager"
  : noPickupDatesAvailable
    ? "Ej tillgänglig"
    : "Beställ";
---

<a {...rest} href={getProductUrl(product.id)} class="max-w-prose">
  <Image
    src={urlFor(featuredImage.asset).width(770).height(580).url()}
    alt={featuredImage.alt}
    inferSize
    class="border-4 mb-3 block"
  />
  <h3 class="h3 mb-2">
    {product.title}
  </h3>
  <p>{formatPrice(prices)}</p>
  <span class={cn(buttonStyles("default", "small"), "mt-0")}
    >{buttonLabel}</span
  >
</a>
